* {
    box-sizing: border-box;
}

body {
    background-color: white;
}

@media screen and (max-width: 600px) {


::-webkit-scrollbar {
  display: none;
}

.social {
    display: block;
    position: relative;
    width: 50%;
    left: 12.5%;
    bottom: 25px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-top: 2%;
    margin-right: auto;
  }
  

/* Template for the parts page that shows 
the results for the specific categories*/

div.parts-main-header > h1 {
  padding-top: 5%;
  padding-bottom: 5%;
  position: relative;
  top: 0;
  font-size: 15vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 5%;
  background-color: black;
  color: rgb(24, 24, 24);
  z-index: 0;
}



div.parts-container {
  margin-bottom: 20%;
  margin-top: 10%;
  width: 100%;
  background-color: rgb(230, 230, 230);
  border: 2px solid rgb(107, 107, 107);
}

p#parts-caption {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 3.5vw;
  padding-left: 1%;
  background-color: rgb(230, 230, 230);
  color: rgb(88, 88, 88);
}

#more {
  display: none;
}

#myBtn3 {
  background-color: rgb(230, 230, 230);
  color: rgb(141, 141, 141);
  border: none;
}

#myBtn3:hover {
  background-color: rgb(224, 224, 224);
}



div#myCarousel {
    width: 100%;
    height: 400px;
    overflow: hidden;
    background-color: black;
}





      footer {
        margin-bottom: 0px;
        max-width: 100%;
        background-color: black;
        
        
      }
      
      footer > img {
        display: block;
        padding-top: 5%;
        width: 15%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        background-color: black;
      }
      
      footer > p {
        text-align: center;
        position: relative;
        bottom: 0px;
        background-color: black;
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-bottom: 0;
        padding-top: 3%;
        padding-bottom: 2%;
        font-size: 16px;
      }
}