html {
    background-size: auto;
    margin: 0px;
    margin-bottom: 0;
    min-width: 320px;
    max-width: 980px auto;
    margin-right: auto;
    margin-left: auto;
    scroll-behavior: smooth;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    background-size: auto;
    margin: 0px;
    margin-bottom: 0px;
    background-color: white
  }
  
  header {
    background-size: auto;
    margin: 0px;
    max-width: 980px auto;
  }



a {
    font-family: 'Permanent Marker';
  }
  
div#header-image {
  background-color: black;
  padding-top: 10%;
}
div#header-image > img {
  width: 25%;
  display: block;
  padding-bottom: 10%;
  position: relative;
  margin-top: 10%;
  margin-left: 37%;
  background-color: black;
}


.container-clubs {
  font-size: 3vw;
}


  .container-clubs > ol > li > a {
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    color: rgb(117, 117, 117);
  }


/* Below is the CSS for the club categories */


div#club-category > h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 6vw;
  color: rgb(117, 117, 117);
  margin-left: 0;
  text-align: center;
}

  div#club-category > a > p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(117, 117, 117);
    font-size: 3vw;
    margin-top: 10%;
    margin-left:35%;
    margin-right: 35%;
    background-color: rgba(192, 192, 192, 0.356);
    left: 0;
    border: 1px solid black;
    text-align: center;
    font-size: 4vw;
    transition: transform 1s;
    text-decoration: none;
  }

  div#club-category > a > p:hover {
    transform: scale(1.2);
  }
  
/* Below is the CSS for the listing of different clubs in (x) category */

  div.club-listing {
    width: 95%;
    margin-top: 10%;
    margin-bottom: 15%;
  }

  div.club-listing > button {
    display: inline-block;
    width: 40%;
    margin-right: 0;
    margin-top: 5%;
    margin-left: 8%;
  }
  div.club-listing > button, img {
    border-radius: 7px 7px 7px 7px;
    border: 1px solid rgb(117, 117, 117);
    transition: transform 1s;
  }

div.club-listing > button > a > img {
  width: 100%;
}

  div.club-listing > button > a, p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: 5px;
    color: rgb(117, 117, 117);
    text-decoration: none;
    transition: transform 1s;
  }

  div.club-listing > button:hover {
    color: white;
    transform: scale(1.1);
  }
    

  /* Below is the CSS layout for the actual club pages */
  
div.club-main-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

div.club-main-container > .general-info > h1, h2 {
  position: relative;
  font-size: 7vw;
  margin-bottom: 5%;
  margin-left: 1%;
  font-weight: bolder;
}

div.club-main-container > .general-info > .club-info-aside {
  width: 35%;
  background-color: rgb(236, 236, 236);
  border: 1px solid rgb(218, 216, 216);
  position: relative;
  padding-left: 1%;
}

div.club-main-container > .general-info > .club-info-main {
  width: 60%;
  float: right;
  margin-right: 2%;
  display: block;
  position: relative;
  top: -275px;
}

div.club-main-container > .general-info > .club-info-main > img {
  width: 50%;
  position: relative;
  left: 0%;
  margin-top: 20%;
}

/* Below will be the CSS for the group 'submit' button */

div.club-group-submit > h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 5vw;
  color: rgb(117, 117, 117);
  margin-left: 0;
  text-align: center;
}

div.club-group-submit > button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 3vw;
    margin-top: 5%;
    margin-bottom: 15%;
    width: 80%;
    margin-left: 10%;
    background-color: rgb(235, 0, 0);
    left: 0;
    border: 1px solid black;
    text-align: center;
    font-size: 4vw;
    transition: transform 1s;
    text-decoration: none;
}

div.club-group-submit > button > a p {
  color: white;
  margin-top: 1%;
  transition: transform 1s;
  text-decoration: none;
}

div.club-group-submit > button:hover {
  transform: scale(1.1);
}


/* CSS for form is pulled from sach_home.css */

input.form-control {
  border-radius: 0px;
  border: none;
  border: 0;
  border-bottom: 1px black;
}

textarea.form-control {
  border-radius: 0px;
  border: none;
  border: 0;
  border-bottom: 1px rgb(0, 0, 0);
}

input.form-control .submit {
  border-color: rgb(117, 117, 117);
}


    footer {
        margin-bottom: 0px;
        max-width: 100%;
        background-color: black;
        position: relative;
        bottom: -100px;
        
        
      }
      
      footer > img {
        display: block;
        padding-top: 5%;
        width: 15%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        background-color: black;
      }
      
      footer > p {
        text-align: center;
        position: relative;
        bottom: 0px;
        background-color: black;
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-bottom: 0;
        padding-top: 3%;
        padding-bottom: 2%;
        font-size: 16px;
      }

      .social {
        display: block;
        position: relative;
        width: 50%;
        left: 12.5%;
        bottom: 25px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
      }