html {
  background-size: auto;
  margin: 0px;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background-size: auto;
  margin: 0px;
  margin-bottom: 0px;
  background-color: white;
}

header {
  position: fixed;
  z-index: +9999;
  margin-top: 0;
  top: 0;
  background-size: auto;
  margin: 0px;
  background-color: rgba(0, 0, 0, 0.295);
  box-shadow:0 6px 10px 0 rgba(0, 0, 0, 0.384), 0 8px 10px 0 rgba(0, 0, 0, 0.342);
}

a {
  font-family: 'Permanent Marker';
}

@media screen and (max-width: 700px) {

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: +9999;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 0;
  width: 100%;
  z-index: +9999;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 6vw;
  color:#999;
  display: block;
  transition: 0.3s;
}

overlay a.active {
color: red;
}

.overlay a:hover, .overlay a:focus {
  color: #720202;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  z-index: +99999;
  right: 45px;
  font-size: 60px;
}

  .overlay {overflow-y: auto;}
  .overlay a {font-size: 4vw}
  .overlay .closebtn {
  font-size: 40px;
  right: 35px;
  }
}
    .hovernav a:not(:first-child) {
      display: none; 
      transition: .7s ease-in-out;}
    .hovernav a.icon {
      
      display: block;
      color: rgb(168, 168, 168);
      padding: 3%;
      padding-left: 5%;
      padding-right: 5%;
      transition: .7s ease;
    }
    .hovernav a.active {
      padding: 3%;
      transition: .7s ease-in-out;
    }


    .hovernav > img#skyline {
      display: block;
      position: absolute;
      margin-left: 38%;
      padding-top: 0;
      padding-bottom: 5%;
      width: 25%;
      transition: .7s ease;
  }
    .hovernav a {
      padding-top: 3%;
      padding-bottom: 3%;
      transition: .7s ease-in-out;
      color: rgba(0, 0, 0, 0);
    }
    .hovernav > p {
      display: none;
    }

div.Live {
  display: block;
  width: 90%;
  float: left;
  margin-left: 5%;
}


.social {
  display: block;
  position: relative;
  width: 50%;
  left: 12.5%;
  bottom: 25px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  transition: .7s ease;
}




.form-control1 {
  width: 100%;
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.644);
  color: rgb(224, 0, 0);
  font-size: 4vw;
  padding: 3%;
  margin-bottom: 0;
  /* margin-top: 10%; */
  /* margin-bottom: 30px; */
}

div.contact-form {
  background-color: rgb(0, 0, 0);
  width: 100%;
  position: relative;
}

div.contact-form > img {
  width: 100%;
}

input {
  color: red;
  height: 50px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 2px solid rgb(70, 70, 70);
  font-size: 3vw;
  margin-top: 10%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form-control1 {
  background-color: rgba(0, 0, 0, 0);
  color: red;
  transition: ease .3s;
  margin-top: 10%;

}

form .submit {
  background: rgb(204, 0, 0);
  border-color: rgb(204, 0, 0);
  color: white;
  margin-top: 5%;
  border-radius: 0;
  border: 1px solid rgb(204, 0, 0);
  font-size: 3vw;
  /* margin-bottom: 15%; */
}

form .submit:hover {
  background-color: rgb(231, 0, 0);
  cursor: pointer;
}


.social > button#socialMed {
  background-color: white;
  width: 50%;
  padding-bottom: 5%;
  border: 0px solid white;
  color: rgb(182, 182, 182);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.social > button#socialMed > a {
  color: rgb(182,182,182);
  text-decoration: none;
  text-align: center;
  font-size: 3vw;
  padding-bottom: 4%;
  padding-left: 4%;
  padding-right: 4%;
  transition: .7s ease;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.social > button#socialMed > a:hover {
  color: black;
}

  h1 > p#galleryTitle {
    display: block;
    text-align: center;
    position: relative;

    margin-top: 10%;
    margin-bottom: 10%;
    box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.384), 0 8px 20px 0 rgba(0, 0, 0, 0.342)

  }
  

  div.galleryLeft {
    display: block;
    position: relative;
    left:0;

    width:100%;
    height: 350px;
    overflow: hidden;
  }

div.galleryLeft > img {
  width: 100%;
}

  div > a#button {
    display: block;
      position: relative;
      left: 25%;
      margin-bottom: 45%;
      padding-top: 5%;
      padding-bottom: 5%;
      width:50%;
      background-color:rgb(204, 0, 0);
      color: white;
      border: 0;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: lighter;
      font-size: 4vw;
  }



  @media screen and (max-width: 700px) {




    .hovernav.responsive {
      position: fixed;
      width: 100%;
      z-index: +9999;
      left: 0;
      height: 100%;
      margin-bottom: 0;
      background-color: black;
      top: 0;
      transition: .7s ease;
      box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.384), 0 8px 20px 0 rgba(0, 0, 0, 0.342)
    }
    .hovernav.responsive a.icon {
      position: absolute;
      left: 0;
      color: red;
      top: 25%;
      transition: .7s ease;
    }
    
    .hovernav.responsive img#skyline {
      width: 100%;
      position: absolute;
      display: block;
      margin-left: 0;
      margin-right: 25%;
      padding: 5%;
      padding-left: 25%;
      padding-right: 25%;
      background-color: black;
      transition: .7s ease;
    }


    .hovernav.responsive a {
      float: none;
      display: block;
      font-family: 'Permanent Marker';
      text-rendering: optimizeSpeed;
      text-align: right;
      color: rgb(255, 255, 255);
      height: 45px;
      text-decoration: none;
      padding-right: 15%;
      transition: .7s ease;
      letter-spacing: 2px;
      font-weight: lighter;
      font-size: 4vw;
    }
  }

  


  


  /*Photos of the Week*/

h1 > p#galleryTitle {
    display: block;
    left: 12.5%;
    margin-top: 15%;
    position: relative;
    width: 75%;
    text-align: center;
    font-family: 'Permanent Marker';
    font-weight: lighter;
    color:black;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 5vw;
    box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.384), 0 8px 20px 0 rgba(0, 0, 0, 0.342)
  
  }


 
div.quickLink {
  display: block;
  position: relative;
  filter: brightness(75%);
}


  /*side bar information*/
  div.quickLink > a > img#ind11 {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
    right: 0;
    transition: transform 1s;
  }
  div.quickLink > a > img#ind11:hover {
    transform: scale(1.1);
    z-index: +2;
  }

div.quickLink > a > img#ind12 {
  display: block;
  position: relative;
  width: 100%;
  right: 0;
  margin-top: 0;
  transition: transform 1s;

}
div.quickLink > a > img#ind12:hover {
  transform: scale(1.1);
  z-index: +2;
}

div.quickLink > a > img#ind13 {
  display: block;
  position: relative;
  width: 100%;
  right: 0;
  transition: transform 1s;

}
div.quickLink > a > img#ind13:hover {
  transform: scale(1.1);
}

div.quickLink > a > img#ind14 {
  display: block;
  position: relative;
  width: 100%;
  right: 0;
  transition: transform 1s;
}
div.quickLink > a > img#ind14:hover {
  transform: scale(1.1);
}





  .galleryRight {
    display: block;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    width: 100%;

  }


 .galleryRight > p {
   position: relative;
   text-justify: distribute-all-lines;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
    font-size: 4vw;
    line-height: 30px;
    width: 90%;
    margin-left: 5%;
    padding-top: 15%;
 }

::-webkit-scrollbar{
  display: none;
}


footer {
  margin-bottom: 0px;
  max-width: 100%;
  padding-top: 10%;
  top: 0;
  background-color: black;
}

footer > div#footer-info-left > a{
  position: relative;
  font-size: 3vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(192, 192, 192);
  float: left;
  margin-left: 60%;
  margin-right: 0;
  z-index: +5;
  margin-top: 2%;
  margin-bottom: 7%;
  width: 80%;
  text-align: left;
  text-decoration: none;
  padding: 2%;
  transition: ease .5s;
}
 
footer > div#footer-info-left > a:hover{
  background-color: rgba(109, 109, 109, 0.144);
}

footer > div#footer-info-right > a{
  position: relative;
  font-size: 3vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(192, 192, 192);
  float: right;
  margin-left: 0;
  margin-right: 60%;
  margin-top: 2%;
  margin-bottom: 7%;
  width: 80%;
  text-align: right;
  text-decoration: none;
  padding: 2%;
  transition: ease .5s;
}

footer > div#footer-info-right > a:hover{
  background-color: rgba(109, 109, 109, 0.144);
}



footer > img {
  display: block;
  padding-top: 5%;
  width: 15%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}

footer > p {
  text-align: center;
  position: relative;
  bottom: 0px;
  background-color: black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 0;
  padding-top: 3%;
  padding-bottom: 2%;
  font-size: 16px;
}

.galleryLeft {
  display: block;
  position: relative;
  left: 25%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 5%;
  width: 50%;
  padding-bottom: 0;
  max-width: 980px auto;
}

.galleryLeft > img {
  width: 100%;
  position: absolute;
  z-index: -1;
  filter: brightness(35%);
}

#photoSubmission {
  display: block;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 25%;
  font-size: 4vw;
  font-weight: lighter;
  color: white;
  background-color: rgba(0, 0, 0, 0.027);
  line-height: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  transition: ease .6s;
}




#button {
  display: block;
    position: relative;
    left: 25%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 5%;
    width: 50%;
    padding-bottom: 0;
    background-color:rgb(204, 0, 0);
    color: white;
    border: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4vw;
    text-align: center;
    text-decoration: none;
    transition: .5s ease;
    box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.384), 0 8px 20px 0 rgba(0, 0, 0, 0.342);
}

#button:hover {
  background-color: rgb(255, 0, 0);
}


hr {
  width: 75%;
  color: white;
}

