html {
  background-size: 100% auto;
  margin: 0px;
  margin-bottom: 0;
}

body {
  background-size: 100% auto;
  margin: 0px;
  margin-bottom: 0px;
  background-color: white
}

header {
  background-size: 100% auto;
  margin: 0px;
}

.fixed-bg {
  background-image: url(cityskyline.jpg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.scrolldown {
  position: relative;
  
  left: 50%;
  width: 40px;
  height: 40px;
  background: red;
  transform: translateY(-80px) translateX(-50%) rotate(45deg);
}

.scrolldown span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  animation: animate 1.5s linear infinite;
}

.scrolldown span:nth-child(1) {
  transform: translate(-15px, -15px);
  animation-delay: -0.4s;
}

.scrolldown span:nth-child(2) {
  transform: translate(0,0);
  animation-delay: -0.4s;
}

.scrolldown span:nth-child(3) {
  transform: translate(15,15);
  animation-delay: -0.4s;
}

@keyframes animate {
  0%
  {
    top: -5px;
    left: -5px;
    opacity: 0;
  }
  25% 
  {
    top: 0px;
    left: 0px;
    opacity: 0px;
  }
  100%
  {
    top: 5px;
    left: 5px;
    opacity: 0;
  }
}

a {
  font-family: 'Permanent Marker';
}

/* Navigation Bar*/

.topnav > img#skyline {
  margin-left: auto;
  margin-right: auto;
  width: 11%;
  height: auto;
  float: right;
  padding-right: 10px;
  position: -webkit-sticky;
}

.topnav > p {
  color: white;
  float: right;
  padding-right: 5%;
  font-family: 'Permanent Marker';
}

.topnav {
    background-color: black;
    overflow: hidden;
    display: block;
    position: -webkit-sticky;
  }
  
  .topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #3a3a3aad;
    color: white;
  }
  
  .topnav a.active {
    background-color: darkred;
    color: white;
  }

  * {
    box-sizing: border-box;
  }

/*Photos of the Week*/

h1 > p#galleryTitle {
  text-align: center;
  font-family: 'Permanent Marker';
  color: white;
  background-color: black;
  margin-left: 35%;
  margin-right: 35%;
}


  /* Position the image container (needed to position the left and right arrows) */
  .container {
    display: block;
    position: -webkit-sticky;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 0px;
    background-color: black;

  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 900px;
    width: auto;
    padding: 8px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.6s ease;
  }
  
  .next {
    right: 25%;
    border-radius: 3px 0 0 3px;
    position: absolute;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: white;
    font-size: 12px;
    padding: 8px 320px;
    position: -webkit-sticky;
    background-color: #000000;
    font-family: 'Permanent Marker';
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
    bottom: 0;
    font-family: 'Permanent Marker';
    display: none;
    position: -webkit-sticky;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 25%;
  }
  
  /*transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  .fade {
    -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
  }


  /*side bar information*/


  .galleryRight {
    display: block;
    overflow: hidden;
    float: right;
  }

 .galleryRight > header {
   position: absolute;
   padding-right: 10px;
   padding-left: 10px;
   padding-top: 4px;
   padding-bottom: 4px;
   bottom: -75px;
   right: 125px;
   font-family: 'Permanent Marker';
   font-size: 18px;
   background-color: black;
   color: white;
 }

 .galleryRight > p{
    position: absolute;
    bottom: 0;
    top: 722px;
    right: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    font-size: 16px;
    background-color: gray;
}

.eventTable {
  width: 100;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  top: 900px;
  left: 5px;
}
th {
  font-family: 'Permanent Marker';
  font-weight: lighter;
  background-color: black;
  color: white;
}

tr, td {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

tr, th, td {
  border: 2px solid black;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 2px;
  padding-top: 2px;
}

footer {
  margin: 0px;
}

footer > img {
  background-color: black;
  color: white;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 600px;
  padding-right: 600px;
  padding-top: 200px;
  padding-bottom: 25px;
  position: relative;
  bottom: -125px;
}

footer > p {
  text-align: center;
  position: relative;
  bottom: -100px;
  background-color: black;
  color: white;
  font-family: 'Permanent Marker';
  margin-bottom: 0;
  padding-bottom: 25px;
}

section#contact {
  color: rgb(202, 202, 202);
  background-color: black;
  position: relative;
  bottom: 200px;
  float: left;
  left: 45%;
  bottom: 200px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}

#photoSubmission {
  float: left;
  margin: 0;
  display: block;
  position: absolute;
  top: 722px;
  left: 55px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  text-justify: inter-word;
}

#photoSubmissionHeader {
 float: left;
 color: white;
 background-color: black;
 font-size: 18px;
 font-family: 'Permanent Marker';
 padding-top: 4px;
 padding-bottom: 4px;
 padding-left: 8px;
 padding-right: 8px;
 position: absolute;
 left: 70px;
 top: 645px;
}


#note {
  font-size: 12px;
  color: rgb(97, 97, 97);
  position: absolute;
  top: 815px;
  left: 80px;
}

button {
  background-color: white;
  color: black;
  border: 4px solid black;
  font-family: 'Permanent Marker';
  float: left;
  position: absolute;
  left: 80px;
  top: 790px;
}

button:hover {
  background-color: black;
  color: white;
  border: 4px solid rgb(212, 212, 212);
}

.cursor {
  cursor: pointer;
}

hr {
  width: 75%;
  color: white;
}